.Footer{
    position: absolute;
    margin-top:110%;
    height: 5%;
    width: 100%;
    background-color: black;
}

.Footer h2{
    color: white;
    position: absolute;
    top: 30%;
    left: 45%;
}

@media screen and (max-width: 1024px){
    .Footer{
        position: absolute;
        margin-top:150%;
    }
}