.log{
    position: absolute;
    margin-top:64%;
    height: 50%;
    width: 100%;
}

.log img{
    position: absolute;
    width: 50%;
    top: 5%;
    left: 25%;
}

@media screen and (max-width: 1024px){
    .log{
        position: absolute;
        margin-top:64%;
        height: 50%;
        width: 100%;
        background-color: white;
    }
    .log img{
        position: absolute;
        width: 40%;
        top: 10%;
        left: 30%;
    }
}