.List img{
    position: absolute;
    width: 15%;
    left: 75%;
    top:10%;
}

.List h1{
    position: absolute;
    color: white;
    font-size: 72px;
    left: 82%;
    top:5%;
}

@media screen and (max-width: 1024px){
    .List h1{
        position: absolute;
        color: white;
        left: 63%;
        top:15%;
    }
    .List img{
        position: absolute;
        width: 30%;
        top: 18%;
        left: 50%;
    }
}

@media screen and (max-width: 768px){
    .List h1{
        font-size: 54px;
        top:15%;
        left: 63%
    }
}

@media screen and (max-width: 414px){
    .List h1{
        font-size: 24px;
        top:20%;
    }
}